@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@utility bg-porto {
  background-image: linear-gradient(rgba(2, 6, 23, 0.62), rgba(2, 6, 23, 0.7)),
    url('/porto-ribeira.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
